<a href="https://colab.research.google.com/github/idalailyihsanti/All-about-Python/blob/main/Latihan_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tipe Data Dasar : Null, Boolean, dan Text

Part 1
Sequence Type (List dan Tuple)
Contoh dari List dan Tuple

In [ ]:
#List
list = [6,'tujuh',8,9,10]
list[4]
#List bisa dirubah
list[3] = 'tiga'
list

[6, 'tujuh', 8, 'tiga', 10]

In [ ]:
#Tuple
tuple = ('Juni','Juli','Agustus','September')
tuple
#Tuple tidak bisa dirubah
#tuple[2]='Mei'

('Juni', 'Juli', 'Agustus', 'September')

Part 2
Set Type (dengan bentuk {})

Tidak mengizinkan adanya duplikasi data dan tidak menghiraukan adanya urutan

In [ ]:
set = {'Ida','Laily','Ihsanti','Bisa','Ida'}
set

{'Bisa', 'Ida', 'Ihsanti', 'Laily'}

In [ ]:
frozenset = ({'Ida','Laily','Ihsanti','Bisa','Ida'})
frozenset

{'Bisa', 'Ida', 'Ihsanti', 'Laily'}

Part 3 Mapping Type

Mapping Type atau bisa disebut dengan Dictionary. (dengan bentuk {} dan pemisah :)

In [ ]:
mapping_type = {'nama':'Ida Laily Ihsanti','Pekerjaan':'Data Analyst'}
mapping_type1 = {'nama':'Baju Niko','Harga':'150000'}
mapping_type
mapping_type['nama']

'Ida Laily Ihsanti'

In [ ]:
sepatu = {'Nama':'Sepatu Niko','Harga':150000,'Diskon':30000}
baju = {'Nama':'Baju Unikloh','Harga':80000,'Diskon':8000}
celana = {'Nama':'Celana Levis','Harga':200000,'Diskon':60000}

harga_sepatu = sepatu['Harga']-sepatu['Diskon']
harga_sepatu

120000

Operator-operator dalam Python

1. Arithmetic Operator (+,-,*,/,%,**,//)
2. Assignment Operator (+=,-=,*=,/=,%=,**=,//=)
3. Comparison Operator (==,!=,>,<,>=,<=)
4. Logical Operator (And,Or,Not)
5. Identity Operator (is,is not)
6. Membership Operator (In, not in,)

In [ ]:
#contoh dari Identity Operator
x = 10
print(type(x) is int)

a = ["Ani","Budi"]
b = ["Ani","Budi"]
c = x
print(c is x)
print(c is not b)

True
True
True

In [ ]:
#contoh membership operator
x = ("Ani",'Budi')
y = "Ani"
z = "Budi"

print(z in x)
print(z not in x)

True
False

Nilai Prioritas Operator dalam Python
Part 1

In [ ]:
#contoh operasi
total_harga = 200000
potongan_harga = 0.5
pajak = 0.1
harga_bayar = 1 - 0.5
harga_bayar *= total_harga
pajak_bayar = pajak * harga_bayar
harga_bayar += pajak_bayar
harga_bayar

110000.0

In [ ]:
#contoh lebih simple
total_harga = 200000
potongan_harga = 0.5
pajak = 0.1
harga_bayar = (1 - 0.5) * total_harga
harga_bayar += harga_bayar * pajak
harga_bayar

110000.0

Nilai Prioritas Operator dalam Python
Part 2

1. () =	10 =	Kiri ke kanan
2. x[index] =	9 =	Kiri ke kanan
3. ** =	8 =	Kanan ke kiri
4. '+x' & '-x' =	7 =	Kiri ke kanan
5. *,/,% =	6 =	Kiri ke kanan
6. +,- =	5 =	Kiri ke kanan
7. is, is not, in, not in
<=, <, >=, >
==, !=	 = 4 =	Kiri ke kanan
8. Not = 3 = Kiri ke kanan
9. And = 2 = Kiri ke kanan
10. Or = 1 = Kiri ke kanan

Python Conditioning for Decision

x = 4
if x % 2 == 0:
  print("X habis dibagi dua")


jam = 17
if jam >= 5 and jam < 12:
  print("Selamat Pagi, anda harus membayar tagihan sebesar:")
elif jam >= 12 and jam < 17:
  print("Selamat siang, anda harus membayar tagihan sebesar:")
elif jam >= 17 and jam <19:
  print("Selamat Sore, anda harus membayar tagihan sebesar:")
else:
  print("Selamat Malam, anda harus membayar tagihan sebesar:")

In [ ]:
tagihan_ke = 'Mr. Yoyo'
warehousing = {'harga_harian': 1000000, 'total_hari' : 15}
cleansing = {'harga_harian': 1500000, 'total_hari' : 10}
integration = {'harga_harian': 1000000, 'total_hari' : 15}
transform = {'harga_harian': 1000000, 'total_hari' : 15}
sub_warehousing = warehousing['harga_harian']* warehousing['total_hari']
sub_cleansing = cleansing['harga_harian'] * cleansing['total_hari']
sub_integration = integration['harga_harian'] * integration['total_hari']
sub_transform = transform['harga_harian'] * transform['total_hari']
total_harga = sub_warehousing + sub_cleansing + sub_integration + sub_transform
print("Tagihan kepada:")
print(tagihan_ke)
jam = 17
if jam >= 5 and jam < 12:
  print("Selamat Pagi, anda harus membayar tagihan sebesar:")
elif jam >= 12 and jam < 17:
  print("Selamat siang, anda harus membayar tagihan sebesar:")
elif jam >= 17 and jam <19:
  print("Selamat Sore, anda harus membayar tagihan sebesar:")
else:
  print("Selamat Malam, anda harus membayar tagihan sebesar:")
print(total_harga)

Tagihan kepada:
Mr. Yoyo
Selamat Sore, anda harus membayar tagihan sebesar:
60000000

Pythron Primitive Loop Control

Part 1

In [ ]:
tagihan = [50000,75000,125000,300000,200000]
#total_tagihan = tagihan[0] + tagihan[1] + tagihan[2] + tagihan[3]
#print(total_tagihan)

i=8
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
  total_tagihan += tagihan[i]
  i+= 1
print(total_tagihan)

0

Python Primitive Loop Control

Part 2

In [ ]:
tagihan = [50000,75000,125000,300000,200000]
#total_tagihan = tagihan[0] + tagihan[1] + tagihan[2] + tagihan[3]
#print(total_tagihan)

i=0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
  if tagihan[i] < 0:
    total_tagihan = -1
    print("Terdapat angka minus dalam tagihan, perhitungan dihentikan")
    break
  total_tagihan += tagihan[i]
  i+= 1
print(total_tagihan)

750000