<a href="https://colab.research.google.com/github/idalailyihsanti/All-about-Python/blob/main/Python_Intro_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collection Manipulation

Part 1 - Mengakses List dan Tuple

Mengakses dengan indeks negatif [-4] maka akan terhitung indeks ke-4 dari belakang

Dan jika ingin mengakses indeks dari depan maka dapat ditulis [4] maka hasilnya akan menunjukkan indeks paling depan

In [ ]:
bulan1 = ('Januari','Februari','Maret','April','Mei','Juni')
bulan2 = ('Januari','Februari','Maret','April','Mei','Juni')
print(bulan1[-4])
print(bulan2[4])

Maret
Mei

Part 2 
-Mengakses List dan Tuple

Indeks juga dapat diakses dengan cara menggunakan rentangan nilai indeks yakni [4:7] maka output yang dikeluarkan indeks ke-4 sampai 7

Kita bisa mengakses indeks 1 sampai 3 paling depan, maka dapat digunakan [:3]

Dan kita juga bisa mengakses indeks 1 sampai 3 dari belakang dengan cara [3:]

Atau kita juga bisa mengakses indeks negatif dengan syntax [-4:-1] dan output yang dihasilkan adalah indeks paling 1 sampai 3 dari belakang

In [ ]:
bulan1 = ('Januari','Februari','Maret','April','Mei','Juni')
bulan2 = ('Januari','Februari','Maret','April','Mei','Juni')
bulan3 = ('Januari','Februari','Maret','April','Mei','Juni')
bulan4 = ('Januari','Februari','Maret','April','Mei','Juni')
print(bulan1[4:7])
print(bulan2[:3])
print(bulan3[3:])
print(bulan4[-4:-1])

('Mei', 'Juni')
('Januari', 'Februari', 'Maret')
('April', 'Mei', 'Juni')
('Maret', 'April', 'Mei')

Penggabungan Dua atau Lebih List atau Tuple

In [ ]:
list1 = ['Gado-gado','Telur','Martabak']
list2 = ['Es Teh','Es Jeruk','Es Campur']
list_menu = list1 + list2
list_menu

['Gado-gado', 'Telur', 'Martabak', 'Es Teh', 'Es Jeruk', 'Es Campur']

# List Manipulation

Part 1
Untuk memanipulasi tipe data list, maka dapat digunakan fitur 

1. append() => Menambahkan Data, 
2. clear() => Menghapus seluruh elemen data,
3. copy() => Mengembalikan copy,  
4. count() => Mengembalikan jumlah kemunculan suatu elemen pada list,
5. extend() => Menggabungkan dua buah list seperti penggunaan operator + untuk list

In [ ]:
#append
list1 = ['Gado-gado','Telur','Martabak']
list1.append('Ketoprak')
print(list1)

['Gado-gado', 'Telur', 'Martabak', 'Ketoprak']

In [ ]:
#clear
list1 = ['Gado-gado','Telur','Martabak']
list1.clear()
print(list1)

[]

In [ ]:
#copy
list1 = ['Gado-gado','Telur','Martabak']
makanan = list1.copy()
makanan.append('Opor')
print(makanan)

['Gado-gado', 'Telur', 'Martabak', 'Opor']

In [ ]:
#count
print(">>> Fitur .count()")
list_score = ['Rachel','Maman','Rachel','Rachel','Kio','Rachel','Maman','Maman']
score_rachel = list_score.count('Rachel')
print(score_rachel)
score_maman = list_score.count('Maman')
print(score_maman)

>>> Fitur .count()
4
3

In [ ]:
#extend
list1 = ['Gado-gado','Telur','Martabak']
list2 = ['Es Teh','Es Jeruk','Es Campur']
list1.extend(list2)
print(list1)

['Gado-gado', 'Telur', 'Martabak', 'Es Teh', 'Es Jeruk', 'Es Campur']

# List Manipulation 

Part 2
1. index() => Mengembalikan indeks dari element pertama yag ditemukan dari awal sebuah list
2. insert() => Menyisipkan elemen pada indeks yang dispesifikkan
3. pop() => Menghilangkan elemen pada posisi tertentu
4. remove() => Menghilangkan elemen dengan nilai tertentu
5. reserve() => Membalik urutan elemen dari sebuah list
6. sort() => Mengurutkan elemen pada sebuah list, secara default dengan urutan dari kecil ke besaar (ascending)

In [ ]:
#index()
list_score = ['Rachel', 'Maman', 'Kio' ,'Rachel','Maman']
score_pertama = list_score.index('Kio') + 3
print(score_pertama)

5

In [ ]:
#insert()
list_score = ['Rachel', 'Maman', 'Rachel', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']
list_score.insert(3, 'Kio')
print(list_score)

['Rachel', 'Maman', 'Rachel', 'Kio', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']

In [ ]:
#pop()
list_score = ['Rachel', 'Maman', 'Rachel', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']
list_score.pop(2)
print(list_score)

['Rachel', 'Maman', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']

In [ ]:
#remove()
list_score = ['Rachel', 'Maman', 'Rachel', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']
list_score.remove('Maman')
print(list_score)

['Rachel', 'Rachel', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']

In [ ]:
#reverse
list_score = ['Rachel', 'Maman', 'Rachel', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']
list_score.reverse()
print(list_score)

['Maman', 'Maman', 'Rachel', 'Kio', 'Rachel', 'Rachel', 'Maman', 'Rachel']

In [ ]:
#sort
list_score = ['Rachel', 'Maman', 'Rachel', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']
list_score.sort()
print(list_score)

list_score1 = ['Rachel', 'Maman', 'Rachel', 'Rachel', 'Kio', 'Rachel', 'Maman', 'Maman']
list_score1.sort(reverse=True)
print(list_score1)

['Kio', 'Maman', 'Maman', 'Maman', 'Rachel', 'Rachel', 'Rachel', 'Rachel']
['Rachel', 'Rachel', 'Rachel', 'Rachel', 'Maman', 'Maman', 'Maman', 'Kio']

# Tuple Manipulation

Fitur manipulasi data

1. count() => Mengembalikan jumlah kemunculan suatu elemen pada suatu tuple
2. index() => Mengembalikan index dari elemen pertama yang ditemukan dari awal sebuah tuple

In [ ]:
#count()
tuple_score = ('Ida','Adi','Rangga','Ida','Adi')
score_ida = tuple_score.count('Ida')
score_Adi = tuple_score.count('Adi')
print(score_ida)

2

In [ ]:
#index()
tuple_score = ('Ida','Adi','Rangga','Ida','Adi')
score_pertama_tuple = tuple_score.index('Rangga') + 1
print(score_pertama_tuple)

3

# Set Manipulation

Part 1 (Tipe data yang tidak mengizinkan adanya duplikasi)

1. add() => Menambahkan data
2. clear() => Menghapus seluruh elemen dataset
3. copy() => Mengembalikan copy dari setiap elemen set
4. update() => Menambahkan elemen dari suatu set
5. pop() => Menghilangkan elemen dari sebuah set secara acak
6. remove() => Menghilangan ekemen dengan nilai tertentu

In [ ]:
#add()
set_buku = {'Matematika','Statistika','PKN'}
set_buku.add('Bahasa Inggris')
print(set_buku)

{'Bahasa Inggris', 'Statistika', 'PKN', 'Matematika'}

In [ ]:
#clear()
set_buku = {'Matematika','Statistika','PKN'}
set_buku.clear()
print(set_buku)

set()

In [ ]:
#copy()
set_buku = {'Matematika','Statistika','PKN'}
set_buku2 = set_buku
set_buku3 = set_buku.copy()
set_buku2.add('Seni budaya')
print(set_buku2)

{'Seni budaya', 'Statistika', 'PKN', 'Matematika'}

In [ ]:
#update()
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Jeruk','Mangga','Manggis'}
parcel1.update(parcel2)
print(parcel1)

{'Jeruk', 'Mangga', 'Apel', 'Manggis', 'Anggur'}

In [ ]:
#pop()
parcel1 = {'Anggur','Apel','Jeruk'}
buah = parcel1.pop()
print(parcel1)

{'Jeruk', 'Anggur'}

In [ ]:
#pop()
parcel2 = {'Jeruk','Mangga','Manggis'}
buah = parcel2.remove('Mangga')
print(parcel2)

{'Manggis', 'Jeruk'}

# Set Manipulation

Part 2 (Tipe data yang tidak mengizinkan adanya duplikasi)

1. union() => Mengembalikan hasil penggabungan (union) dari dua buah set
2. isdisjoint() => Mengembalikan nilai kebenaran apakah suatu set disjoint (saling lepas/tidak mengandung elemen yang sama) dengan set lainnya
3. issubset() => Mengembalikan nilai kebenaran apakah sebuah set merupakan subset dari set lainnya. Sebuah set A merupakan subset dari set B jika seluruh elemen dari set A merupakan bagian dari set B.
4. issupersubset() => Mengembalikan nilai kebenaran apakah sebuah set merupakan superset dari set lainnya. Sebuah set A merupakan superset dari set B jika seluruh elemen dari set B terkandung dalam set A.
5. intersection() => Mengembalikan sebuah set yang merupakan intersection dari dua set lainnya
6. difference() => Mengembalikan sebuah set yang berisikan difference dari dua set lainnya. Difference dari sebuah set A berdasarkan set B adalah setiap elemen yang terdapat di set A tetapi tidak terdapat di set B.
7. symentric_difference() => Mengembalikan sebuah set yang berisikan symmetric difference dari dua set lainnya. Symmetric difference dari sebuah set A dan B adalah setiap elemen dari set A yang tidak terdapat di set B digabungkan dengan (union) setiap elemen dari set B yang tidak terdapat di set A.

In [ ]:
#union()
parcel3 = parcel1.union(parcel2)
print(parcel3)

{'Manggis', 'Jeruk', 'Anggur'}

In [ ]:
#isdisjoint()
buku1 = {'Romance','Thriller','Action'}
buku2 = {'Romance','Mellow','Science','Modul'}
buku3 = {'Romance','Mellow','Science','Modul'}
buku_disjoint = buku2.isdisjoint(buku3)
print(buku_disjoint)

False

In [ ]:
#issubset()
buku_issubset = buku2.issubset(buku3)
print(buku_issubset)

True

In [ ]:
#issuperset()
buku_issuperset = buku2.issuperset(buku3)
print(buku_issuperset)

True

In [ ]:
#intersection()
buku_intersection = buku2.intersection(buku3)
print(buku_intersection)

{'Science', 'Mellow', 'Modul', 'Romance'}

In [ ]:
#difference()
buku_difference = buku2.difference(buku3)
print(buku_difference)

set()

In [ ]:
#symentric_difference()
buku_symentric_difference = buku1.symmetric_difference(buku3)
print(buku_symentric_difference)

{'Science', 'Action', 'Modul', 'Mellow', 'Thriller'}